main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 1px solid #000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}